name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: D015 Homework
      id: d015-homework
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 5
        setup-command: pip install pytest setuptools wheel PyYAML lark pydocstyle
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        D015-HOMEWORK_RESULTS: "${{steps.d015-homework.outputs.result}}"
      with:
        runners: d015-homework
