name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: D011 Homework Test
      id: d011-homework-test
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 5
        setup-command: pip install pytest gpiozero pyserial lgpio
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        D011-HOMEWORK-TEST_RESULTS: "${{steps.d011-homework-test.outputs.result}}"
      with:
        runners: d011-homework-test
